.user-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  gap: 40px;
  padding: 35px;
}
.user-panel hr {
  margin: -20px 0px 0px;
}

.user-panel__modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-panel__modal-header-title {
  color: var(--ultra-light-grey);
  font-family: "principal-font";
  font-size: 12px;
}
.user-panel__close-icon {
  height: 20px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.user-panel__close-icon:hover {
  transform: scale(1.1);
}

.user-panel__heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}
.user-panel__heading-pfp {
  height: 125px;
}
.user-panel__heading-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.user-panel__hello-msg {
  font-size: 25px;
  color: var(--dark-grey);
}
.user-panel__hello-msg span {
  color: var(--primary-color);
  font-style: italic;
}
.user-panel__heading-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.user-panel__editable-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-panel__editable-item-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.user-panel__editable-item-title {
  color: var(--dark-grey);
}
.user-panel__editable-item-icon {
  height: 18px;
  object-fit: contain;
}
.user-panel__editable-item-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-panel__editable-item-paragraph {
  font-size: 10px;
  color: var(--light-grey);
  font-family: "principal-font";
}
.user-panel__editable-item-actions-button,
.user-panel__editable-item-actions-input,
.user-panel__heading-actions-button {
  width: fit-content;
  padding: 7px 14px;
  font-size: 12px;
}
.user-panel__editable-item-actions-input {
  border: 1px solid var(--ultra-light-grey);
  border-radius: 5px;
  font-family: "principal-font";
  font-size: 13px;
  outline: none;
  color: var(--grey);
  width: 50%;
}
