@import "./styles/buttons.css";
@import "./styles/global.css";
@import "./styles/utility.css";

:root {
  --primary-color: #327dee;
  --secondary-color: rgba(50, 125, 238, 0.144);
  --dark-color: #14348f;
  --black: rgb(51, 51, 51);
  --light-blue: #e3eeff;
  --ultra-light-blue: #ebf3ff;
  /* Greys */
  --dark-grey: rgb(77, 77, 77);
  --grey: rgb(107, 107, 107);
  --light-grey: #9e9d9d;
  --ultra-light-grey: rgb(201, 201, 201);
  --ultra-light-grey-2: rgb(223 232 244);
  --opacity-grey: #e4ecf7;
}

@font-face {
  font-family: "principal-font";
  src: url(./core/assets/fonts/Gontserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "principal-font-light";
  src: url(./core/assets/fonts/Gontserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "principal-font-bold";
  src: url(./core/assets/fonts/Gontserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "principal-font-extra-bold";
  src: url(./core/assets/fonts/Gontserrat-SemiBold.ttf) format("truetype");
}
