@import "./styles/buttons.css";
@import "./styles/global.css";
@import "./styles/utility.css";

:root {
  --primary-color: rgb(50, 125, 238);
  --secondary-color: rgba(50, 125, 238, 0.144);
  --dark-color: #14348f;
  --black: rgb(80, 80, 80);
  --grey: rgb(99, 99, 99);
  --light-grey: rgb(151, 151, 151);
  --opacity-grey: rgba(201, 201, 201, 0.836);
}

@font-face {
  font-family: "principal-font";
  src: url(./assets/fonts/Gontserrat-Regular.ttf) format("truetype");
  letter-spacing: 0.3px;
}

@font-face {
  font-family: "principal-font-light";
  src: url(./assets/fonts/Gontserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "principal-font-bold";
  src: url(./assets/fonts/Gontserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "principal-font-extra-bold";
  src: url(./assets/fonts/Gontserrat-Bold.ttf) format("truetype");
}
