.confirm-dialog__container {
  width: 400px;
  background-color: var(--light-blue);
  border: solid 2px var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 9px rgb(109 109 109 / 16%);
  transform: translate(-50%, -50%);
}

.confirm-dialog__title,
.confirm-dialog__info-msg {
  font-family: "principal-font";
}

.confirm-dialog__info-msg {
  font-size: 10px;
  color: var(--light-grey);
  text-align: center;
}

.confirm-dialog__actions {
  display: flex;
  gap: 15px;
}
