.techs-used {
  /* Contenedor de la seccion entera */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 0px 190px;
}

.techs-used__sections-wrapper {
  /* Contenedor de las Secciones */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 100px;
}
.techs-used__section {
  /* Seccion individual */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.techs-used__section-heading {
  /* Titulo de las secciones de lenguajes (Back y Front) */
  font-family: "principal-font-bold", sans-serif;
  font-size: 12px;
  color: var(--primary-color);
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  padding: 5px 12px;
  border-radius: 6px;
}
.techs-used__list {
  /* Contenedor de todos los lenguajes de la seccion */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
@media (width <= 1500px) {
  .techs-used {
    padding: 0px 50px;
  }
  .techs-used__list {
    justify-content: center;
  }
}
