.tech-used {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: white;
  border-radius: 28px 10px 10px 28px;
  padding-right: 20px;
  border: 2px solid var(--opacity-grey);
  box-shadow: 3px 3px 9px rgba(61, 61, 61, 0.1);
}
.tech-used p {
  font-family: "principal-font-bold", sans-serif;
  font-size: 15px;
  color: var(--grey);
}
.tech-used img {
  height: 50px;
  object-fit: contain;
}
@media (width <= 1024px) {
  .tech-used {
    gap: 7px;
    padding-right: 10px;
  }
  .techs-used img {
    height: 40px;
  }
  .tech-used p {
    font-size: 13px;
  }
}