/* * Seccion entera de tecnologias usadas */

.techs-used {
  /* Contenedor de la seccion entera */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 0px 190px;
  @media (width <= 1100px) {
    padding: 0px 50px;
  }
}
.techs-used__container-title {
  /* Titulo de toda la seccion */
  font-family: "principal-font", sans-serif;
  font-size: 30px;
  color: var(--dark-grey);
  text-align: center;
}
.techs-used__container-title span {
  color: var(--primary-color);
}

/* * Seccion de lenguajes usados */

.techs-used__sections-wrapper {
  /* Contenedor de las Secciones */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 100px;
}
.techs-used__section {
  /* Seccion individual */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.techs-used__section-heading {
  /* Titulo de las secciones de lenguajes (Back y Front) */
  font-family: "principal-font-bold", sans-serif;
  font-size: 12px;
  color: var(--primary-color);
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  padding: 5px 12px;
  border-radius: 6px;
}
.techs-used__list {
  /* Contenedor de todos los lenguajes de la seccion */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  @media (width <= 1100px) {
    gap: 70px;
  }
}
