.learned {
  padding: 0px 190px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.learned__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "principal-font";
  font-size: 14px;
}
.learned__list ul {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 10px;
  margin: 0;
  color: var(--grey);
}
.learned__list li::marker {
  color: var(--primary-color);
  font-size: 25px;
}
@media (width <= 1024px) {
  .learned {
    padding: 0px 50px;
  }
}
@media (width <= 768px) {
  .learned__list {
    flex-direction: column;
  }
  .learned__list ul {
    width: 100%;
  }
}
