.about-project {
  position: absolute;
  width: 100%;
}

.about-project__heading {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.about-project__structure-section-title {
  font-family: "principal-font";
  font-size: 15px;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.about-project__structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0px 190px;
  border-top: 2px solid var(--primary-color);
  padding-top: 40px;
}
.about-project__structure-title {
  font-size: 22px;
}
.about-project__structure-item-icon {
  width: 50px;
  object-fit: contain;
}
.about-project__structure-item-info {
  font-size: 11px;
  color: var(--light-grey);
}
.about-project__structure-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "principal-font";
  width: 100%;
}
.about-project__structure-item {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-project__structure-item-heading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: anchor-center;
  color: var(--grey);
}
.about-project__structure-item-main-content {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about-project__structure-subItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.about-project__structure-subItem-title {
  color: var(--primary-color);
  font-family: "principal-font-bold";
}
.about-project__structure-subItem-desc {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 11px;
  border: 1px solid var(--secondary-color);
}

.about-project__functionality {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 40px 0px;
  gap: 40px;
  grid-template-areas:
    "title item2 item3"
    "title item4 item5";
  padding: 0px 190px;
}
.about-project__functionality-heading {
  display: flex;
  flex-direction: column;
  font-family: "principal-font";
}
.about-project__functionality-section-title {
  display: flex;
  align-items: end;
  flex-direction: row;
  font-size: 18px;
  color: var(--dark-grey);
}
.about-project__functionality-section-title-icon {
  height: 32px;
  margin-right: 36px;
}
.about-project__functionality-heading-extra {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 11px;
}
.about-project__functionality-question {
  background-color: var(--primary-color);
  padding: 5px 12px;
  color: var;
  color: var(--light-blue);
  border-radius: 5px;
}
.about-project-functionality-question-icon {
  height: 30px;
  object-fit: contain;
}
.about-project__functionality-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-project__funcionality-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "principal-font";
}
.about-project__funcionality-title {
  text-align: left;
  font-size: 15px;
  color: var(--primary-color);
}
.about-project__funcionality-desc {
  font-size: 11px;
  line-height: 22px;
  color: var(--dark-color);
}
