.about-project {
  position: absolute;
}

.about-project__heading {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.about-project__structure {
  display: flex;
}

.about-project__functionality {
  display: flex;
  flex-direction: column;
}
.about-project__functionality-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-project__funcionality-item {
  width: 350px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "principal-font";
  height: fit-content;
  border: 2px solid var(--secondary-color);
}
.about-project__funcionality-title {
  text-align: center;
  font-size: 20px;
  color: var(--primary-color);
}
.about-project__funcionality-desc {
  font-size: 12px;
  line-height: 22px;
  color: var(--dark-color);
}
