.about-project {
  position: absolute;
  width: 100%;
}

.about-project__heading {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 0px;
  font-family: "principal-font";
}
.about-project__heading h1 {
  color: var(--dark-grey);
  font-family: "principal-font";
  font-size: 35px;
}
.about-project__heading h1 span,
.about-project__heading h4 span {
  color: var(--primary-color);
}
.about-project__heading h4 {
  color: var(--light-grey);
  font-size: 11px;
  font-family: "principal-font";
}

.about-project__section-title {
  font-family: "principal-font";
  font-size: 15px;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.about-project__structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 190px 0px 190px;
}
.about-project__structure-title {
  font-size: 22px;
}
.about-project__structure-item-icon {
  width: 50px;
  object-fit: contain;
}
.about-project__structure-item-info {
  font-size: 11px;
  color: var(--light-grey);
}
.about-project__structure-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "principal-font";
  width: 100%;
}
.about-project__structure-item {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-project__structure-item-heading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: anchor-center;
  color: var(--grey);
}
.about-project__structure-item-main-content {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about-project__structure-subItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.about-project__structure-subItem-title {
  color: var(--primary-color);
  font-family: "principal-font-bold";
}
.about-project__structure-subItem-desc {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 11px;
  border: 1px solid var(--secondary-color);
}

.about-project__functionality {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  grid-template-areas:
    "title item2 item3"
    "title item4 item5";
  padding: 0px 190px;
}
.about-project__functionality-heading {
  display: flex;
  flex-direction: column;
  font-family: "principal-font";
}
.about-project__functionality-section-title {
  display: flex;
  align-items: end;
  flex-direction: row;
  font-size: 18px;
  color: var(--dark-grey);
}
.about-project__functionality-section-title-icon {
  height: 32px;
  margin-right: 36px;
}
.about-project__functionality-heading-extra {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 11px;
}
.about-project__functionality-question {
  background-color: var(--primary-color);
  padding: 5px 12px;
  color: var;
  color: var(--light-blue);
  border-radius: 5px;
}
.about-project-functionality-question-icon {
  height: 30px;
  object-fit: contain;
}
.about-project__functionality-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-project__funcionality-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "principal-font";
}
.about-project__funcionality-title {
  text-align: left;
  font-size: 15px;
  color: var(--primary-color);
}
.about-project__funcionality-desc {
  font-size: 11px;
  line-height: 22px;
  color: var(--dark-color);
}

.about-project__security {
  padding: 0px 190px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "principal-font";
}
.about-project__security-section-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 18px;
  color: var(--dark-grey);
}
.about-project__security-section-title span {
  color: var(--primary-color);
}
.about-project__security-section-title-icon {
  height: 40px;
  object-fit: contain;
}
.about-project__security-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-project__security-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 340px;
  padding: 20px;
  background-color: var(--opacity-grey);
  border-radius: 10px;
  border: 1px solid var(--ultra-light-grey);
}

.about-project__security-item-icon {
  width: 40px;
  object-fit: contain;
}
.about-project__security-item-title {
  font-size: 15px;
  color: var(--grey);
}
.about-project__security-item-info {
  font-size: 11px;
  color: var(--light-grey);
}
.about-project__security-item-desc {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--light-grey);
  padding-left: 24px;
}

.about-project__resources {
  padding: 0px 190px;
  font-family: "principal-font";
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-project__resources-links {
  display: grid;
  grid-template-areas:
    "title title"
    "box1 box2";
  row-gap: 70px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.about-project__resources-links-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
}
.about-project__resources-links-item {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  box-shadow: 5px 5px 9px rgb(61 61 61 / 6%);
}
.about-project__links-item-title {
  color: var(--light-blue);
  font-family: "principal-font-bold";
  font-size: 18px;
  background-color: aqua;
  width: 100%;
  text-align: center;
  padding: 6px 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--primary-color);
}
.about-project__resources-item-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  height: 100%;
  background-color: var(--opacity-grey);
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--opacity-grey);
  border-top: none;
}
.about-project__links-item-paragraph {
  color: var(--light-grey);
  font-size: 13px;
  text-align: center;
}
.about-project__links-button {
  border: 1px solid var(--primary-color);
  font-family: "principal-font-bold";
  margin-top: auto;
}

.about-project__expansion {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  margin-bottom: 40px;
}
.about-project__expansion-title {
  color: var(--dark-grey);
}
.about-project__expansion-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-project__expansion-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
}
.about-project__expansion-item-heading {
  display: flex;
  justify-content: center;
}
.about-project__expansion-item-icon {
  height: 40px;
  position: absolute;
  top: -90px;
  left: 46%;
}
.about-project__expansion-item-title {
  color: var(--grey);
  font-family: "principal-font-bold";
}
.about-project__expansion-item-title span {
  color: var(--primary-color);
}
.about-project__expansion-item-desc {
  font-size: 12px;
  color: var(--light-grey);
  text-align: center;
}
.bar-line {
  height: 2px;
  width: 100%;

  background: linear-gradient(
    to right,
    transparent,
    #327dee 20%,
    #327dee 80%,
    transparent
  );
  border: none;
}
