.dashboard {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  gap: 50px;
}
.dashboard__view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  gap: 60px;
  padding: 80px 0px;
  scrollbar-width: none;
}
