.today {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.today-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-family: "principal-font";
  font-size: 23px;
  color: var(--dark-grey);
}
.today-title span {
  color: var(--primary-color);
}
.today-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (width < 1500px) {
  .today {
    gap: 0px;
  }
}