.today-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 0px;
}
.today-title {
  margin-left: auto;
  margin-right: auto;
  font-family: "principal-font";
  font-size: 23px;
  color: var(--dark-grey);
}
.today-title span {
  color: var(--primary-color);
}
.today-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.no-tasks__message {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "principal-font";
  color: var(--primary-color);
}
.no-tasks__icon {
  width: 35px;
  object-fit: contain;
}
@media (width < 1500px) {
  .today {
    gap: 0px;
  }
}
