.home-page {
  display: flex;
  flex-direction: column;
}
.home-page__bgItem {
  height: 800px;
}
.home-page__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 190px;
  background-image: url("../../core/assets/images/fondoApp.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 92vh;
  margin-top: 8vh;
}
.home-page__header-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.home-page__header-text h1 {
  font-family: "principal-font-bold", sans-serif;
  font-size: clamp(3.625rem, 1.119vw + 2.908rem, 4.25rem);
  color: var(--dark-grey);
}
.home-page__header-text span {
  background: linear-gradient(
      90deg,
      var(--primary-color),
      rgb(174, 222, 255),
      var(--primary-color)
    ) -100%/ 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shimmer 2s linear infinite;
}
@keyframes shimmer {
  to {
    background-position: 100%;
  }
}

.home-page__description {
  font-family: "principal-font-bold", sans-serif;
  font-size: 15px;
  line-height: 55px;
  color: var(--primary-color);
  width: 85%;
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 13px;
  box-shadow: 6px 7px 15px rgb(48 102 255 / 12%);
}
.home-page__image {
  width: min(800px, 106%);
  background-color: transparent;
}
.btn.goGitHubProject {
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
}
.btn.goGitHubProject:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}
@media (width < 1500px) {
  .home-page__header {
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px 0px;
  }
  .home-page__description {
    line-height: 30px;
    font-size: 15px;
  }
}