.home-page {
  display: flex;
  flex-direction: column;
}
.home-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 190px 0px 190px;
}
.home-page-header-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home-page-header-text h1 {
  font-family: "principal-font-bold", sans-serif;
  font-size: 55px;
  color: var(--dark-grey);
}
.home-page-header-text span {
  	background: linear-gradient(90deg, var(--primary-color), rgb(128, 201, 250), var(--primary-color)) -100%/ 200%;
	-webkit-background-clip: text;
	        background-clip: text;
	color: transparent;
	animation: shimmer 2s linear infinite
}
@keyframes shimmer { to { background-position: 100% } }

.home-page-description {
  font-family: "principal-font", sans-serif;
  font-size: 19px;
  line-height: 40px;
  color: var(---dark-grey);
}
.home-page-image {
  height: 500px;
}
.btn.goGitHubProject {
  transform: scale(1.15);
  border-radius: 8px;
  width: 150px;
}
.btn.goGitHubProject:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}
