.tech-used {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.tech-used p {
  font-family: "principal-font-extra-bold", sans-serif;
  font-size: 20px;
  color: var(--black);
  letter-spacing: 0px;
}
.tech-used img {
  height: 50px;
  object-fit: contain;
}