.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 190px;
  align-items: center;
  border-bottom: 1px solid #0000000f;
  background-color: white;
  height: 8vh;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 15px 2px 6px rgb(61 61 61 / 10%);
}

.navbar__logo {
  height: 29px;
}
.navbar__brand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-family: "principal-font-extra-bold";
  color: var(--black);
  font-size: 18px;
}
.navbar__brand span {
  color: var(--primary-color);
}
.navbar__links {
  font-family: "principal-font";
  display: flex;
  gap: 2.5rem;
  font-size: 13px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar__links a {
  font-family: "principal-font", sans-serif;
  color: var(--dark-grey);
  width: fit-content;
}
.navbar__links a:hover {
  transition: all 0.3s ease-in-out;
  font-family: "principal-font-bold", sans-serif;
  transform: scale(0.97);
  color: var(--primary-color);
}

.navbar__auth-links {
  display: flex;
  gap: 1.5rem;
}
.menu-toggle {
  display: none;
  cursor: pointer;
  width: 20px;
  padding: 0;
  object-fit: contain;
}
@media (width <= 1500px) {
  .navbar__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .navbar {
    flex-direction: column;
    gap: 25px;
    padding: 20px 50px;
    align-items: end;
  }
  .navbar__links {
    display: none;
    flex-direction: column;
  }
  .navbar__links.active {
    display: flex;
    background-color: white;
    border: 1px solid var(--opacity-grey);
    border-radius: 9px;
    padding: 20px;
    font-family: "principal-font-extra-bold";
  }
  .navbar__auth-links {
    flex-direction: column;
    align-items: center;
  }
  .menu-toggle {
    display: block;
  }
}
