.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid #0000000f;
  background-color: white;
}

.navbar-logo {
  height: 29px;
}
.nav-bar-brand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-family: "principal-font-extra-bold";
  color: var(--black);
  font-size: 18px;
}
.nav-bar-brand span {
  color: var(--primary-color);
}
.navbar-links {
  display: flex;
  gap: 2.5rem;
  font-size: 13px;
  align-items: center;
}
.navbar-links a {
  font-family: "principal-font", sans-serif;
  color: var(--dark-grey);
  width: fit-content;
}
.navbar-links a:hover {
  transition: all 0.3s ease-in-out;
  font-family: "principal-font-bold", sans-serif;
  transform: scale(0.97);
  color: var(--primary-color);
}

.navbar-auth-links {
  display: flex;
  gap: 1.5rem;
}
