.feature-card {
  position: relative;
  width: 250px;
  height: 290px;
  padding: 20px;
  background: white;
  border: 3px solid var(--opacity-grey);
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 9px rgba(61, 61, 61, 0.1);
}
.feature-card:hover {
  transform: scale(1.05);
  border: 3px solid var(--primary-color);
}
.feature-card-icon {
  width: clamp(40px, 2vw + 32px, 60px);
  object-fit: contain;
}
.feature-card-title {
  font-family: "principal-font", sans-serif;
  font-size: clamp(0.875rem, 0.6vw + 0.75rem, 1.15rem);
  color: var(--grey);
  margin-top: 30px;
}
.feature-card-description {
  font-family: "principal-font", sans-serif;
  font-size: 15px;
  color: var(--light-grey);
  line-height: 30px;
  margin-top: 15px;
  font-size: clamp(0.6875rem, 0.5vw + 0.55rem, 0.9rem);
}
@media (width <= 1500px) {
  .feature-card {
    height: auto;
  }
}
