.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
}
.features-list {
  display: flex;
  padding: 0px 190px;
  gap: 35px;
  width: 100%;
  justify-content: space-between;
  @media (width <= 1500px) {
    padding: 0px 50px;
    justify-content: center;
  };
  flex-wrap: wrap;
}
.features-title {
  font-family: "principal-font", sans-serif;
  font-size: clamp(1.5rem, 1.6rem, 2.18rem);
  color: var(--light-blue);
  text-align: center;
  letter-spacing: 0.5px;
  width: 100%;
  background-color: var(--primary-color);
  height: 7vh;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.features-title span {
  color: var(--primary-color);
  background-color: var(--light-blue);
    padding: 4px 10px;
    border-radius: 8px;
}
.footer-about-project {
  display: flex;
  flex-direction: column;
}
/*@media (width <= 1500px) {
    .features-list {
      flex-direction: column;
      padding: 0px 50px;
      align-items: center;
    }
 }