.feature-card {
  position: relative;
  width: 250px;
  height: 290px;
  padding: 20px;
  background: white;
  border: 3px solid var(--opacity-grey);
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 9px rgba(61, 61, 61, 0.1);
}
.feature-card:hover {
  transform: scale(1.05);
  border: 3px solid var(--primary-color);
}
.feature-card-icon {
  height: 60px;
  width: 60px;
  object-fit: contain;
}
.feature-card-title {
  font-family: "principal-font", sans-serif;
  font-size: 20px;
  color: var(--grey);
  margin-top: 30px;
}
.feature-card-description {
  font-family: "principal-font", sans-serif;
  font-size: 15px;
  color: var(--light-grey);
  line-height: 30px;
  margin-top: 15px;
}
