.filters-section__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 0px;
}
.filters-section__header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.filters-section__header-icon {
  height: 20px;
  object-fit: contain;
}
.filters-section__header-title {
  font-family: "principal-font";
  font-size: 23px;
  color: var(--dark-grey);
}
.filters-section__header-title span {
  color: var(--primary-color);
}

.filters-content__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "principal-font";
}
.filters__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filters__content__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 12px;
}
.filters__content__header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.filter-card__hr {
  margin: 0px 0px 0px;
}
