.filters-content__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: "principal-font";
}
.filter__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filters__content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  font-size: 12px;
}
.filters__content__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.filter__header-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.filter-card__hr {
  margin: 0px 0px 0px;
}
