.session-modal__container {
  position: absolute;
  top: 50px;
  width: 400px;
  background-color: var(--light-blue);
  border: solid 2px var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 9px rgb(109 109 109 / 16%);
}

.session-modal__title {
  color: var(--primary-color);
}
.session-modal__msg {
  text-align: center;
  font-size: 12px;
  color: var(--light-grey);
}

.session-modal__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
