.task {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--opacity-grey);
}
.task-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: "principal-font-bold";
  font-size: 15px;
  color: var(--dark-grey);
}
.task-priority-icon {
  width: 25px;
  object-fit: contain;
}
.task-description {
  font-family: "principal-font";
  font-size: 11px;
  color: var(--light-grey);
  margin-left: 35px;
}
