.btn,
.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-family: "principal-font", sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover,
.btn-secondary:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(0.95);
  font-family: "principal-font-bold", sans-serif;
  box-shadow: 3px 3px 9px rgba(56, 56, 56, 0.1);
}

.btn {
  background-color: var(--primary-color, #327dee);
  color: white;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  background: none;
  color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color, #14348f);
  color: var(--primary-color);
}
.btn-secondary:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
}
