* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #f8f9fa;
  color: #222;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: linear-gradient(to right, transparent, var(--grey), transparent);
  margin: 70px 0px 70px;
  opacity: 15%;
}
