.imageExample {
  width: 100%;
  height: 350px;
  background-color: var(--primary-color);
}
.section-title {
  font-family: "principal-font", sans-serif;
  font-size: 30px;
  color: var(--dark-grey);
  text-align: center;
  letter-spacing: 0.5px;
  width: 100%;
}
.section-title span {
  color: var(--primary-color);
}

.theme-primary {
  background-color: var(--primary-color);
  color: var(--light-blue);
}
.theme-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.react-datepicker {
  font-family: "principal-font";
  font-size: 0.72rem;
  border: none;
}
.react-datepicker__month-container {
  background-color: var(--ultra-light-blue);
}
.react-datepicker__month,
.react-datepicker__header {
  background-color: var(--ultra-light-blue);
}
.react-datepicker__header {
  padding: 0px 0px 15px 0px;
  border: none;
}
h2.react-datepicker__current-month {
  color: var(--primary-color);
  text-transform: uppercase;
}
.react-datepicker__navigation {
  top: -5px;
}
.react-datepicker__month {
  margin: 0px;
  padding: 0px 20px;
}
.react-datepicker__day-name {
  color: var(--light-grey);
  text-transform: uppercase;
  font-size: 9px;
}
.react-datepicker__day-names {
  margin-top: 8px;
}
.react-datepicker__day {
  color: var(--primary-color);
  font-family: "principal-font-bold";
}
.react-datepicker__day--selected {
  background-color: var(--primary-color);
  color: var(--light-blue);
  outline: none;
}
.react-datepicker__navigation-icon::before {
  border-color: var(--ultra-light-grey);
}
.react-datepicker__triangle {
  opacity: 0;
}
.react-datepicker__day:hover {
  background-color: var(--primary-color);
}
.react-datepicker__day--outside-month {
  color: var(--ultra-light-grey);
  font-size: 0.55rem;
}
