.task-view__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  container-type: inline-size;
  container-name: task-view-container;
}
.task-view__header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.task-view__header-icon {
  height: 20px;
  object-fit: contain;
}
.task-view__header-title {
  font-family: "principal-font";
  font-size: 23px;
  color: var(--dark-grey);
}
.task-view__header-title--highlight {
  color: var(--primary-color);
}
.task-view__tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.no-tasks__message {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "principal-font";
  color: var(--primary-color);
}
.no-tasks__icon {
  width: 35px;
  object-fit: contain;
}
@media (width < 1500px) {
  .inbox {
    gap: 0px;
  }
}
@container task-view-container (width <= 500px) {
  .task-view__header {
    gap: 10px;
  }
  .task-view__header-title--completed {
    font-size: 17px;
  }
  .no-tasks__message {
    font-size: 12px;
  }
}
