.filtered-task__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.filtered-tasks__filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: "principal-font-bold";
  font-size: 13px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 6px 10px;
  border-radius: 5px;
  width: max-content;
  margin-left: 5px;
}
.filtered-tasks__filter-icon {
  width: 15px;
  object-fit: contain;
}
