.edit-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: var(--light-blue);
  padding: 30px;
  font-family: "principal-font";
  border-left: 1px solid var(--secondary-color);
}
.edit-panel__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.edit-panel__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0px 0px 20px;
}
.edit-panel__date-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.edit-panel__date-icon {
  width: 18px;
}
.edit-panel__date {
  font-size: 13px;
  color: var(--primary-color);
}

.edit-panel__completed-container {
  display: block;
  position: relative;
  height: 23px;
  width: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.edit-panel__completed {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
}
.edit-panel__completed-checkmark {
  height: 100%;
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  display: block;
}
.edit-panel__completed-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.edit-panel__completed:hover + .edit-panel__completed-checkmark {
  background-color: var(--secondary-color);
}
.edit-panel__completed:checked + .edit-panel__completed-checkmark {
  background-color: var(--primary-color);
}
.edit-panel__completed:checked ~ .edit-panel__completed-checkmark::after {
  display: block;
}
.edit-panel__completed-container .edit-panel__completed-checkmark:after {
  left: 9px;
  top: 3px;
  width: 4px;
  height: 11px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  pointer-events: none;
}

.edit-panel__task {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.edit-panel__task-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.edit-panel__task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.edit-panel__task-title {
  font-size: 22px;
  color: var(--dark-grey);
}
.edit-panel__task-icon {
  width: 24px;
  object-fit: contain;
}
.edit-panel__task-description {
  color: var(--light-grey);
  font-size: 15px;
}
.edit-panel__task-comment-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
.edit-panel__task-comment-icon {
  width: 15px;
}
.edit-panel__task-comment {
  color: var(--primary-color);
  font-size: 13px;
}
.edit-panel__task-comment::before {
  left: 9px;
  top: 3px;
  width: 4px;
  height: 11px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  pointer-events: none;
}

.edit-panel__task-filters {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.edit-panel__task-filters-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: "principal-font-bold";
  font-size: 13px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px 7px;
  border-radius: 5px;
}
.edit-panel__task-filters-item img {
  width: 15px;
  object-fit: contain;
}

.edit-panel__options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.edit-panel__options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 13px;
  color: var(--light-grey);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.edit-panel__options:hover {
  transform: scale(0.97);
  font-family: "principal-font-bold";
  color: var(--primary-color);
}
.edit-panel__options-icon {
  width: 15px;
}
.edit-panel__options-separator {
  width: 1px;
  height: 20px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--primary-color) 30%,
    var(--primary-color) 70%,
    transparent
  );
}
.edit-panel__close-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  font-family: "principal-font-bold";
  color: var(--primary-color);
  cursor: pointer;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.edit-panel__close-container:hover {
  transform: scale(0.985);
}
.edit-panel__close-icon {
  width: 20px;
}
