.edit-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--light-blue);
  padding: 30px;
  font-family: "principal-font";
  border-left: 1px solid var(--secondary-color);
  container-name: task-edit-panel;
  container-type: inline-size;
  min-width: 345px;
}
.edit-panel.closed {
  min-width: 80px;
}
.edit-panel__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.edit-panel__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0px 0px 20px;
}
.edit-panel__date-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.edit-panel__date-icon {
  width: 18px;
}
.edit-panel__date {
  font-size: 13px;
  color: var(--primary-color);
}

.edit-panel__completed-container {
  display: block;
  position: relative;
  height: 23px;
  width: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.edit-panel__completed {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
}
.edit-panel__completed-checkmark {
  height: 100%;
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  display: block;
}
.edit-panel__completed-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.edit-panel__completed:hover + .edit-panel__completed-checkmark {
  background-color: var(--secondary-color);
}
.edit-panel__completed:checked + .edit-panel__completed-checkmark {
  background-color: var(--primary-color);
}
.edit-panel__completed:checked ~ .edit-panel__completed-checkmark::after {
  display: block;
}
.edit-panel__completed-container .edit-panel__completed-checkmark:after {
  left: 9px;
  top: 4px;
  width: 4px;
  height: 11px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  pointer-events: none;
}

.edit-panel__task {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.edit-panel__task-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.edit-panel__task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.edit-panel__task-title {
  font-size: 22px;
  color: var(--grey);
  border: none;
  background: none;
  font-family: "principal-font-bold";
  outline: none;
  resize: none;
}
.edit-panel__task-title::placeholder {
  color: var(--grey);
}
.edit-panel__task-priority {
  width: 24px;
  object-fit: contain;
  cursor: pointer;
}
.edit-panel__task-description {
  color: var(--light-grey);
  font-size: 15px;
  background: none;
  outline: none;
  border: none;
  font-family: "principal-font";
  resize: none;
}
.edit-panel__task-description::placeholder {
  color: var(--light-grey);
}
.edit-panel__task-comment-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
.edit-panel__task-comment-icon {
  width: 15px;
  object-fit: contain;
}
.edit-panel__task-comment {
  color: var(--primary-color);
  font-size: 13px;
  border: none;
  background: none;
  outline: none;
  font-family: "principal-font";
  resize: none;
  width: 100%;
}
.edit-panel__task-comment::placeholder {
  color: var(--primary-color);
}
.edit-panel__task-comment::before {
  left: 9px;
  top: 3px;
  width: 4px;
  height: 11px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  pointer-events: none;
}

.edit-panel__filters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.edit-panel__task-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 35px;
}
.edit-panel__task-filters-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: "principal-font-bold";
  font-size: 13px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 6px 10px;
  border-radius: 5px;
  position: relative;
}
.edit-panel__task-filters-item__main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.edit-panel__task-filters-item img {
  width: 15px;
  object-fit: contain;
}
.edit-panel__task-filters-item__close-icon {
  width: 15px;
  object-fit: contain;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  right: -25px;
}
.edit-panel__task-filters-item:hover
  .edit-panel__task-filters-item__close-icon {
  opacity: 1;
}

.edit-panel__add-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.edit-panel__add-filter-container .dropdown-button__wrapper {
  padding: 0;
  border: none;
  gap: 15px;
}
.edit-panel__add-filter-container .dropdown-button__button {
  font-size: 13px;
  color: var(--light-grey);
}
.edit-panel__add-filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 13px;
  color: var(--light-grey);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.edit-panel__add-filter:hover {
  transform: scale(0.97);
  font-family: "principal-font-bold";
}
.edit-panel__add-filter-icon {
  width: 15px;
}
.edit-panel__add-filter-separator {
  width: 1px;
  height: 20px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--ultra-light-grey) 30%,
    var(--ultra-light-grey) 70%,
    transparent
  );
}
.edit-panel__options-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.edit-panel__option {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 6px 10px;
  font-size: 12px;
  color: var(--primary-color);
  font-family: "principal-font-bold";
  background-color: var(--secondary-color);
  border-radius: 8px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  flex: 1;
}
.edit-panel__option:hover {
  transform: scale(0.97);
}
.edit-panel__option-icon {
  width: 18px;
  object-fit: contain;
}

.edit-panel__close-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  font-family: "principal-font-bold";
  color: var(--primary-color);
  cursor: pointer;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.edit-panel__close-container:hover {
  transform: scale(0.98);
}
.edit-panel__close-icon {
  width: 20px;
}

@container task-edit-panel (width >= 600px) {
  .edit-panel__option {
    gap: 35px;
  }
}
@container task-edit-panel (width >= 850px) {
  .edit-panel__option {
    gap: 65px;
  }
}